
/* 
.footer {
    width: 100%;
    color: #fff;
    font-weight: bold; */


.grid-container {
    display: grid;
    grid-template-areas:" header header header header header header"
    "hero hero main main main main"
    "side-bar side-bar side-bar extra extra extra "
    "rel rel rel rel relted relted "
    "item5 item5 item5 item5  item5 item5";
    padding: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    gap: 10px;



}

.item1 { grid-area: header; 
    background-color: #ffb4a2;
    color: #b1aeae;
    padding: 30px;
    
}
.hero { grid-area: hero;
    color: #fff;
    padding: 30px;
    background-color: #ffc2d1;
    
 }
.main { grid-area: main;
    background-color: antiquewhite;
    color: #fff;
    padding: 30px;
    
 }
.side-bar { grid-area: side-bar; 
    background-color: #dde5b6;
    color: #fff;
    padding: 30px;
    
}
.extra { grid-area: extra; 
    background-color: #ffc2d1;
    color: #fff;
    padding: 30px;
    
}
.rel { grid-area: rel; 
    background-color: antiquewhite;
    color: #fff;
    padding: 30px;
    
}
.relted { grid-area: relted; 
    background-color: rgb(106, 123, 141);
    color: #fff;
    padding: 30px;
    
}
.item5 { grid-area: item5; 
    background-color: #c9ada7;
    color: #fff;
    padding: 30px;
    
}
@media only screen and (min-width: 600px) {
    .extra {
        background-image: url("./free-nature-images.jpg");
        color: black;
        font-size: 20px;
    }
}
@media only screen and (min-width: 992px) {
    .container-grid {
        background-color: #84a98c;
        color: rgb(236, 119, 119);
        font-size: 30px;
    }
    .container-grid .hero{
        background-color: #84a98c;
        color: gray;
        font-size: 30px;
    }
}
@media only screen and (min-width: 1200px) {
    .container-grid{
        background-color: #84a98c;
        color: #4e6b4e;
        font-size: 25px;
    }
}
